nav a img{
    display:inline-block;
    width: 150px;
}

body{
    margin:auto;
    width:1028px;
    background-color: #c0c0c0;
    font-weight: normal;

}

nav a{

    padding: 10px;
}
/* #91e4fb = bleu;
c0c0c0 = gris;*/